<div class="container pad20">

    <!-- Grid row -->
  <div class="row mt-4">
    <!-- Card -->
    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-4 py-2">
        <%= link_to cocktail_path(cocktail), class: "card-link" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
            <div class="card-description">
              <%= cocktail.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


<!-- Close main div -->
</div>
