// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/form";

$white: #F7F9F7;
$pink: #ef476f;

$primary: 'Dancing Script', cursive;
$secondary: 'Dosis', sans-serif;

.navbar {
  border-color: $pink;
}

.main-navbar-head {
  font-family: $primary;
}

.create {
  font-family: $primary;
  font-size: 24px;
}

body {
  background-color: $white;
}

.fa-glass-cheers {
  color: black;
    &:hover {
      color: $pink;
    }
}


.fa-glass-martini-alt:hover {
  color: $pink;
}

li {
  list-style: none;
}

.fa-plus-square {
  color: #26bd7e;
    &:hover {
      color: rgb(51, 128, 230)
    }
}

.fa-trash-alt {
  color: $pink;
}

.card {
  font-family: $secondary;
  &:hover {
    font-family: $primary;
    transform: scale(0.98);
    transition-duration: 200ms;
  }
}
